<!-- ******************************************
*  Created On : Mon Jan 10 2022
*  Modelo de arquivo HTML para adicionar nova tela de conteúdo dentro do layout estabelecido no arquivo fragmentos/layout.html
******************************************* -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout">
<div th:fragment="conteudo" class="container">
    <!-- insira seu código aqui -->
    <div class="pr-4 pl-2">
        <div class="pl-5 pr-5 mt-1 mb-1">
            <h2 class="text-warning pt-2">Apoios</h2>
            <div class="mt-3 d-flex flex-row">
                <img class="p-1 mr-5"src="img/download.png" width="300px" height="150px">
                <div class="pr-2 text-justify">
                    <h3>IFTM</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum rerum quo ipsum quod labore expedita accusamus tempora et, obcaecati quibusdam eos voluptatum officia autem ea est omnis doloremque inventore exercitationem.
                    Unde praesentium exercitationem neque earum a doloremque facere nobis quidem asperiores et, dolorum molestiae nesciunt eum aperiam corrupti saepe vero corporis similique eveniet deserunt maxime at accusantium quaerat deleniti? Saepe?
                    Ratione eligendi pariatur odit deserunt earum, tenetur praesentium blanditiis ut alias aliquam suscipit libero enim quis perferendis quae dolore quidem distinctio amet culpa? Nostrum natus repellat officiis voluptas! Consequatur, consectetur.</p>
                </div>
            </div>    
            <div class="mt-3 d-flex flex-row">
                <div class="pr-2 text-justify">
                    <h3>Lorem</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum rerum quo ipsum quod labore expedita accusamus tempora et, obcaecati quibusdam eos voluptatum officia autem ea est omnis doloremque inventore exercitationem.
                    Unde praesentium exercitationem neque earum a doloremque facere nobis quidem asperiores et, dolorum molestiae nesciunt eum aperiam corrupti saepe vero corporis similique eveniet deserunt maxime at accusantium quaerat deleniti? Saepe?
                    Ratione eligendi pariatur odit deserunt earum, tenetur praesentium blanditiis ut alias aliquam suscipit libero enim quis perferendis quae dolore quidem distinctio amet culpa? Nostrum natus repellat officiis voluptas! Consequatur, consectetur.</p>
                </div>
                <img class="p-1 pl-4 mr-5"src="img/logo1.jpg" width="222px">
            </div>  
        </div>
        
    </div>
</div>

</html>