<!-- ******************************************
*  Created On : Mon Dec 13 2021
*  Modelo de arquivo HTML para adicionar nova tela de conteúdo dentro do layout estabelecido no arquivo fragmentos/layout.html
******************************************* -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout">
<div th:fragment="conteudo" class="container text-center">
    <!-- insira seu código aqui -->
    <h1 th:text="${status}">Erro!</h1>
    <h1 th:text="${error}">Erro!</h1>
</div>

</html>