<!-- ******************************************
*  Created On : Mon Jan 10 2022
*  Modelo de arquivo HTML para adicionar nova tela de conteúdo dentro do layout estabelecido no arquivo fragmentos/layout.html
******************************************* -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout">
<div th:fragment="conteudo" class="container">
    <!-- insira seu código aqui -->
    <div class="font-weight-bold">
        <div class="container w-75">
            <form class="mt-3 needs-validation" th:action="@{/form-usuario}" method="POST" th:object="${usuario}">
                <h6 th:if="${message}" th:text="${message}" class="alert alert-danger">Erro</h6>
                <ul>
                    <li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerr : fielderr">
                        <span th:text="${e.global}? '*' : ${e.fieldName}">The field name</span> |
                        <span th:text="${e.message}">The error message</span>
                    </li>
                </ul>
                <input th:field="*{id}" type="hidden">
                <input th:field="*{papel}" type="hidden" value="">
                <h2 class="text-center mb-3">Faça seu cadastro</h2>
                <div class="row">
                    <div class="form-group col-md-12">
                        Nome Completo:
                        <input th:field="*{nome}" class="form-control" type="text" id="nome" required>
                    </div>

                    <div class="form-group col-md-4">
                        CPF:
                        <input class="form-control" th:field="*{cpf}" type="text" maxlength="11" required
                            th:errorClass="${#fields.hasErrors('cpf')}? is-invalid"
                            aria-describedby="validationServerCpfFeedback">
                        <div validationServerCpfFeedback class="invalid-feedback" th:if="${#fields.hasErrors('cpf')}"
                            th:errors="*{cpf}"></div>
                    </div>
                </div>
                <div div class="row">
                    <div class="form-group col-md-7">
                        Email:
                        <input type="email" th:field="*{email}" class="form-control" required>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-7">
                        Endereço
                        <input type="text" th:field="*{endereco}" class="form-control" required>
                    </div>

                    <div class="form-group col-md-4">
                        Telefone
                        <input th:field="*{telefone}" type="text" class="form-control" id="num" required>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4">
                        Data de nascimento
                        <input type="date" th:field="*{data_nasc}" class="form-control" id="dataNasc" required>
                    </div>

                    <div class="form-check col-md-3 mx-5">
                        <label for="">Sexo</label>
                        <div class="form-inline">
                            <input type="radio" th:field="*{sexo}" th:value="F">
                            <label class="mx-1" for="feminino">Feminino</label>

                            <input type="radio" th:field="*{sexo}" th:value="M">
                            <label class="mx-1" for="masculino">Masculino</label>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="form-group col-md-6">
                        <label for="senha">Senha</label>
                        <input th:field="*{senha}" type="password" class="form-control" id="senha" required>
                    </div>
                </div>

                <div class="container mt-1">
                    <div class="row justify-content-center p-2 m-2">
                        <input class="mx-1 px-3 py-2 font-weight-bold h5" type="submit" value="Cadastrar">
                        <input class="mx-1 px-3 py-2 font-weight-bold h5" type="reset" value="Limpar">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</html>