<!-- ******************************************
*  Created On : Mon Jan 10 2022
*  Modelo de arquivo HTML para adicionar nova tela de conteúdo dentro do layout estabelecido no arquivo fragmentos/layout.html
******************************************* -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout">
<div th:fragment="conteudo" class="container">
    <!-- insira seu código aqui -->
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="container col-6">
                <h1>Autenticação de usuário (login)</h1>
                <div th:if="${param.error}">
                    Usuario/senha inválidos
                </div>
                <div th:if="${param.logout}">
                    Você foi logged out
                </div>
                <form th:action="@{/login}" method="post">
                    <div class="form-group">
                        <input class="form-control" type="text" name="username" placeholder="E-mail" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="Senha" />
                    </div>
                    <input class="btn btn-primary mt-3" type="submit" value="Log in" />
                </form>
            </div>
        </div>
        <div>
            <p class="text-center">Ainda não possui cadastro? <a href="form-usuario">Clique aqui</p>
        </div>
    </div>
</div>

</html>

