<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="navbar" class="d-flex justify-content-between navbar navbar-expand-md navbar-light bg-info text-white">
        <div class="pl-5">
            <h2><a href="../home" class="text-decoration-none text-white">Adote um Pet</a></h2>
        </div>
        
        <div> 
            <ul class="navbar-nav mr-4 pr-5">
                <li class="nav-item pr-3  pl-3 pt-2 pb-2"><a href="../home" class="text-white">Home</a></li>
                <li class="nav-item pr-3  pl-3 pt-2 pb-2"><a href="../sobre" class="text-white">Sobre</a></li>
                <li class="nav-item pr-3  pl-3 pt-2 pb-2"><a href="../adote" class="text-white">Adote</a></li>
                <li class="nav-item pr-3  pl-3 pt-2 pb-2"><a href="../contato" class="text-white">Contato</a></li>
                <li class="nav-item pr-3  pl-3 pt-2 pb-2"><a href="../apoio" class="text-white">Apoio</a></li>
                <a href="../perfil"><input class="ml-3 py-2 px-3 font-weight-bold" type="button" value="Cadastre-se"></a>
                <a href="../login"><input class="ml-3 py-2 px-3 font-weight-bold" type="button" value="Login"></a>
            </ul>
        </div>
    </div>
</html>