<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adote um Pet</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <nav th:insert="fragments/barraNav ::navbar"></nav>
    <main class="pr-4 pl-2">
        <div class="pl-5 pr-5 mt-1 mb-1">
            <h2 class="text-warning pt-2">Apoios</h2>
            <div class="mt-3 d-flex flex-row">
                <img class="p-1 mr-5"src="img/download.png" width="300px" height="150px">
                <div class="pr-2 text-justify">
                    <h3>IFTM</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum rerum quo ipsum quod labore expedita accusamus tempora et, obcaecati quibusdam eos voluptatum officia autem ea est omnis doloremque inventore exercitationem.
                    Unde praesentium exercitationem neque earum a doloremque facere nobis quidem asperiores et, dolorum molestiae nesciunt eum aperiam corrupti saepe vero corporis similique eveniet deserunt maxime at accusantium quaerat deleniti? Saepe?
                    Ratione eligendi pariatur odit deserunt earum, tenetur praesentium blanditiis ut alias aliquam suscipit libero enim quis perferendis quae dolore quidem distinctio amet culpa? Nostrum natus repellat officiis voluptas! Consequatur, consectetur.</p>
                </div>
            </div>    
            <div class="mt-3 d-flex flex-row">
                <div class="pr-2 text-justify">
                    <h3>Lorem</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum rerum quo ipsum quod labore expedita accusamus tempora et, obcaecati quibusdam eos voluptatum officia autem ea est omnis doloremque inventore exercitationem.
                    Unde praesentium exercitationem neque earum a doloremque facere nobis quidem asperiores et, dolorum molestiae nesciunt eum aperiam corrupti saepe vero corporis similique eveniet deserunt maxime at accusantium quaerat deleniti? Saepe?
                    Ratione eligendi pariatur odit deserunt earum, tenetur praesentium blanditiis ut alias aliquam suscipit libero enim quis perferendis quae dolore quidem distinctio amet culpa? Nostrum natus repellat officiis voluptas! Consequatur, consectetur.</p>
                </div>
                <img class="p-1 pl-4 mr-5"src="img/logo1.jpg" width="222px">
            </div>  
        </div>
        
    </main>

    <footer th:insert="fragments/rodape :: footer" class="bg-info">

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>

</html>