*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
a:link, a:visited{
    color: black;
}
input[type="text"], textarea, input[type="password"], input[type="number"] {
    width: 90%;
}
label{
    display: block;
    margin: 5px 0;
}
input[type="button"], input[type="submit"], input[type="reset"] {
    border-radius: 10px;
    border: 1px solid black;
    background-color: lightblue;
    cursor: pointer;
}
input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {
 background-color: white;
}
button{
    cursor: pointer;
    border-radius: 20px;
    background-color: lightblue;
    border: none;
}
button:hover{
    background-color: aliceblue;
}
form{
    margin: auto;
}
.geral{
    width: 100px;
}
.caixa {
    width: 300px;
    height: 462px;
    border: 4px solid #17A2B7;
    border-radius: 20px;
    background-image: url("/img/fundo.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.caixa1 {
    width: 290px;
    height: 388px;
    border: 4px solid #17A2B7;
    border-radius: 20px;
    background-image: url("/img/fundo.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

#insta:hover {
    content: url("/img/insta-colorido.png")
}

#face:hover {
    content: url("/img/face-colorido.png")
}

#twitter:hover {
    content: url("/img/twitter-colorido.png")
}

#whats:hover {
    content: url("/img/whats-colorido.png")
}



