
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
a:link, a:visited{
    color: black;
}
input[type="text"], textarea, input[type="password"], input[type="number"] {
    width: 90%;
}
label{
    display: block;
    margin: 5px 0;
}
input[type="button"], input[type="submit"], input[type="reset"] {
    border-radius: 10px;
    border: 1px solid black;
    background-color: lightblue;
    cursor: pointer;
}
input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {
 background-color: white;
}
button{
    cursor: pointer;
    border-radius: 20px;
    background-color: lightblue;
    border: none;
}
button:hover{
    background-color: aliceblue;
}
form{
    margin: auto;
}
.geral{
    width: 100px;
}